.kaufman__triangle { 
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../../../images/kaufman-triangle.svg);
  background-position: right;
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: 1;
}